<div class="container hero">
    <div class="row">
        <div class="col-lg-3">
            <div class="sidebar">
                <div class="profile text-center">
                    <h4>Abhimanyu</h4>
                </div>
                <div class="card">
                    <ul class="nav flex-column">
                        <li class="nav-item border-bottom">
                            <a class="nav-link active" href="#">
                                <i class="bi bi-person-fill"></i>
                                About Me
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link" href="#">
                                <i class="bi bi-bullseye"></i>
                                Career Objective
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link" href="#">
                                <i class="bi bi-code-slash"></i>
                                Technical Skills
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link" href="#">
                                <i class="bi bi-mortarboard-fill"></i>
                                Education
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link" href="#">
                                <i class="bi bi-briefcase-fill"></i>
                                Experience
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link" href="#">
                                <i class="bi bi-rocket-takeoff-fill"></i>
                                Learning Journey
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link" href="#">
                                <i class="bi bi-heart-fill"></i>
                                Interests
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="/Documents/Abhimanyu Samantaray.pdf" download class="btn btn-success w-100 mt-4">
                    <div class="zoom-hover"><i class="bi bi-arrow-down-circle-fill me-1"></i> Download Resume</div>
                </a>
            </div>
        </div>
        <div class="col-lg-9">Work in Progress</div>
    </div>
</div>