<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="Abhi-portfolio.png" class="w-100">
        </div>
        <div class="col-md-8">
           <section class="hero">
               <h4 class="text-primary">Hello, Welcome to My Portfolio <i class="bi bi-person-bounding-box ms-2 mt-1"></i></h4>
               <h1>I'm <span>Abhimanyu Samantaray</span></h1>
               <h2>Java Full Stack Developer</h2>
               <p>
                   I am a passionate Full Stack Developer with hands-on experience in designing,
                   developing, and deploying modern web applications. My expertise includes
                   Java, Spring Boot, Angular, React Js, SQL, REST APIs, Git, GitHub, PHP and AWS. I enjoy building
                   scalable backend systems, responsive user interfaces, and writing clean,
                   maintainable code that solves real business problems.
               </p>
               <p>
                   I believe in continuous learning and constantly improve my skills by working
                   on real-world projects, practicing Data Structures & Algorithms, and exploring
                   modern software architecture. My goal is to build reliable applications that
                   provide an excellent user experience and create business value.
               </p>
               <div class="highlights">
                    <div class="row">
                        <div class="col-lg-4">
                            <div><i class="bi bi-check-circle text-warning"></i> Java & Spring Boot</div>
                            <div><i class="bi bi-check-circle text-warning"></i> JavaScript, Node Js, Express</div>
                            <div><i class="bi bi-check-circle text-warning"></i> Angular</div>
                            <div><i class="bi bi-check-circle text-warning"></i> React Js</div>
                        </div>
                        <div class="col-lg-4">
                            <div><i class="bi bi-check-circle text-warning"></i> REST API Development</div>
                            <div><i class="bi bi-check-circle text-warning"></i> PHP</div>
                            <div><i class="bi bi-check-circle text-warning"></i> SQL Databases</div>
                            <div><i class="bi bi-check-circle text-warning"></i> AWS Cloud</div>
                        </div>
                         <div class="col-lg-4">
                            <div><i class="bi bi-check-circle text-warning"></i> Git & GitHub</div>
                            <div><i class="bi bi-check-circle text-warning"></i> DSA</div>
                            <div><i class="bi bi-check-circle text-warning"></i> System Design</div>
                            <div><i class="bi bi-check-circle text-warning"></i> Snowflake , Data Science</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>