<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand zoom-hover" routerLink="/"><i class="bi bi-house-door"></i></a>
    <a class="navbar-brand zoom-hover mx-0" routerLink="/about">About</a>
    <a class="navbar-brand zoom-hover mx-0" routerLink="/project">Project</a>
    <a class="navbar-brand zoom-hover mx-0" routerLink="/contact">Contact</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>